<header class="fullscreen-element no-pad centered-text">
    <div class="background-image-holder parallax-background overlay">
        <img class="background-image" alt="Background Image"
             src="img/intro-capella.jpg">
    </div>

    <div class="container align-vertical">
        <div class="row">
            <div class="col-md-12 text-center">
                <span class="text-white alt-font">DISCOVER Pivot TODAY</span>
                <h1 class="text-white">Themeforest's most popular HTML page building<br>template is now even more powerful.</h1>
                <p class="lead text-white">Tons of elements, Consistent style, Variant builder included.</p>
                <a target="_blank" href="http://www.mediumra.re/pivot/variant/builder.html" class="btn btn-primary btn-white">Customize Pivot</a>
                <a href="http://themeforest.net/item/pivot-responsive-multipurpose-html-with-builder-v141/8748103" class="btn btn-primary btn-filled" target="_blank">Purchase Pivot</a>
            </div>
        </div><!--end of row-->
    </div><!--end of container-->
</header>