<header class="header h-fullscreen p-0 bb-1 overflow-hidden" style="background-image: url(img/bg-girl.jpg);" data-overlay-light="8">
    <div class="container text-center">

        <div class="row h-full">
            <div class="col-12 col-lg-8 offset-lg-2 align-self-center pt-150">

                <h1 class="display-4">Capella pour les <span class="text-primary" data-type="établissements scolaires, parents d'élèves, élèves"></span></h1>
                <br>
                <p class="lead fs-20">Simplifier au maximum votre gestion scolaire</p>

            </div>

            <div class="col-12 align-self-end text-center">
                <img class="shadow-5" src="img/intro.png" alt="..." data-aos="fade-up" data-aos-offset="0">
            </div>

        </div>

    </div>
</header>
