<header class="fullscreen-element no-pad centered-text">
    <div class="background-image-holder parallax-background overlay">
        <img class="background-image" alt="Background Image"
             src="img/intro-capella.jpg">
    </div>

    <div class="container align-vertical">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="text-white descript"><strong>CAPELLA</strong></h1>
                <p class="lead text-white">Simplifier votre gestion scolaire.</p>
                <a  href="#capella" class="btn btn-primary btn-white">Votre école en un clic</a>
            </div>
        </div><!--end of row-->
    </div><!--end of container-->
</header>