<!-- Topbar -->
<nav class="topbar topbar-sticky">
    <div class="container">

        <div class="topbar-left">
            <a class="topbar-brand" href="#">
                <img class="logo-default" src="img/logo.png" alt="logo">
                <img class="logo-inverse" src="img/logo-light.png" alt="logo">
            </a>
        </div>


        <div class="topbar-right">
            <a class="btn btn-sm btn-danger mr-4" href="#" data-scrollto="leproduit">Le produit</a>
            <a class="btn btn-sm btn-outline btn-danger hidden-sm-down" href="#" data-scrollto="pricing">Nos offres</a>
            <a class="btn btn-sm btn-outline hidden-sm-down" href="#" data-scrollto="contact">Contact</a>
        </div>
    </div>
</nav>

<!-- END Topbar -->
