<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'fr' }}">

{% include head.html %}

<body>


<!-- Topbar -->
{% include nav.html %}
<!-- END Topbar -->

<!-- Header -->
{% include header.html %}
<!-- END Header -->

<!-- Main container -->
<main class="main-content">
    {{ content }}
</main>
<!-- END Main container -->


<!-- Footer -->
{% include footer.html %}
<!-- END Footer -->


<!-- Scripts -->
<script src="{{ site.url }}/js/core.min.js"></script>
<script src="{{ site.url }}/js/thesaas.min.js"></script>
<script src="{{ site.url }}/js/script.js"></script>

</body>

</html>