---
layout : default
---

{% include header.html %}

<section class="inline-image-right" id="capella">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 align-vertical no-align-mobile">
                <h1>Outil« nouvelle génération» de management et suivi continu de vos élèves.</h1>
                <h6>Pour une école transparente, innovante &amp; ambitieuse</h6>
                <p class="lead">
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi,.
                </p>
            </div>

            <div class="col-sm-6 text-center">
                <img alt="Product Image" class="product-image" src="img/section1.gif">
            </div>
        </div><!--end of row-->
    </div><!--end of container-->
</section>

<section class="pricing-1 bg-secondary-1">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1 class="text-white">Nos offres</h1>
            </div>
        </div><!--end of row-->

        <div class="row clearfix pricing-tables">
            <div class="col-md-3  col-sm-6 no-pad-right">
                <div class="pricing-table">
                    <div class="price">
                        <span class="sub">$</span>
                        <span class="amount">29</span>
                        <span class="sub">/mo</span>
                    </div>
                    <ul class="features">
                        <li><strong>200GB</strong> Storage</li>
                        <li><strong>Unlimited</strong> Bandwidth</li>
                        <li><strong>24/7</strong> Support</li>
                        <li><strong>100</strong> Unique Logins</li>
                    </ul>
                    <a href="#" class="btn btn-primary btn-white">Sign Me Up</a>
                </div>
            </div>

            <div class="col-md-3  col-sm-6 no-pad">
                <div class="pricing-table">
                    <div class="price">
                        <span class="sub">$</span>
                        <span class="amount">39</span>
                        <span class="sub">/mo</span>
                    </div>
                    <ul class="features">
                        <li><strong>300GB</strong> Storage</li>
                        <li><strong>Unlimited</strong> Bandwidth</li>
                        <li><strong>24/7</strong> Support</li>
                        <li><strong>100</strong> Unique Logins</li>
                    </ul>
                    <a href="#" class="btn btn-primary btn-white">Sign Me Up</a>
                </div>
            </div>

            <div class="col-md-3  col-sm-6 no-pad">
                <div class="pricing-table emphasis">
                    <div class="price">
                        <span class="sub">$</span>
                        <span class="amount">49</span>
                        <span class="sub">/mo</span>
                    </div>
                    <ul class="features">
                        <li><strong>400GB</strong> Storage</li>
                        <li><strong>Unlimited</strong> Bandwidth</li>
                        <li><strong>24/7</strong> Support</li>
                        <li><strong>100</strong> Unique Logins</li>
                    </ul>
                    <a href="#" class="btn btn-primary btn-white">Sign Me Up</a>
                </div>
            </div>

            <div class="col-md-3  col-sm-6 no-pad-left">
                <div class="pricing-table">
                    <div class="price">
                        <span class="sub">$</span>
                        <span class="amount">59</span>
                        <span class="sub">/mo</span>
                    </div>
                    <ul class="features">
                        <li><strong>500GB</strong> Storage</li>
                        <li><strong>Unlimited</strong> Bandwidth</li>
                        <li><strong>24/7</strong> Support</li>
                        <li><strong>100</strong> Unique Logins</li>
                    </ul>
                    <a href="#" class="btn btn-primary btn-white">Sign Me Up</a>
                </div>
            </div>


        </div><!--end of row-->

    </div><!--end of container-->

</section>


<section class="social-bar no-pad">
    <div class="col-md-6 col-sm-6 no-pad">
        <a href="#">
            <div class="link bg-twitter">
                <div class="initial">
                    <i class="icon social_twitter"></i>
                </div>

                <div class="hover-state">
                    <span class="text-white">Suivre sur Twitter</span>
                </div>
            </div>
        </a>
    </div><!--end of individual link-->

    <div class="col-md-6 col-sm-6 no-pad">
        <a href="#">
            <div class="link bg-facebook">
                <div class="initial">
                    <i class="icon social_facebook"></i>
                </div>

                <div class="hover-state">
                    <span class="text-white">Suivre sur Facebook</span>
                </div>
            </div>
        </a>
    </div><!--end of individual link-->
</section>