---
layout : default
---

{% include header.html %}

<section class="team-1" id="our_approch">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h1>About Our Team</h1>
            </div>
        </div><!--end of row-->

        <div class="row space-bottom-large">
            <div class="col-sm-4">
                <div class="team-1-member">
                    <img alt="Team Member" src="img/team-small-1.png ">
                    <h2>Chip Mayer</h2>
                    <h5>Founder &amp; CEO</h5>
                    <p class="space-top-small">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                        eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                    </p>
                </div><!--end of team member-->
            </div>

            <div class="col-sm-4">
                <div class="team-1-member">
                    <img alt="Team Member" src="img/team-small-2.png">
                    <h2>James Hillier</h2>
                    <h5>Creative Director</h5>
                    <p class="space-top-small">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                        eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                    </p>
                </div><!--end of team member-->
            </div>

            <div class="col-sm-4">
                <div class="team-1-member">
                    <img alt="Team Member" src="img/team-small-4.png">
                    <h2>Robin Banks</h2>
                    <h5>Partner &amp; COO</h5>
                    <p class="space-top-small">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                        eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                    </p>
                </div><!--end of team member-->
            </div>


        </div><!--end of row-->

        <!--end of row-->

    </div><!--end of container-->
</section>

<section class="action-banner overlay">

    <div class="background-image-holder">
        <img class="background-image" alt="Background Image" src="img/hero3.jpg">
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                <h1 class="text-white">I'm ready to purchase this stunningly beautiful template. Where do I sign?</h1>
                <h2 class="text-white">We're chuffed to hear it, and you'll be chuffed at the incredibly reasonable price.</h2>
                <a href="#" class="btn btn-primary btn-white">More Features</a>
                <a href="#" class="btn btn-primary btn-white btn-filled">Purchase Pivot</a>
            </div>
        </div><!--end of row-->
    </div><!--end of container-->

</section>

<section class="social-bar no-pad">
    <div class="col-md-6 col-sm-6 no-pad">
        <a href="#">
            <div class="link bg-twitter">
                <div class="initial">
                    <i class="icon social_twitter"></i>
                </div>

                <div class="hover-state">
                    <span class="text-white">Suivre sur Twitter</span>
                </div>
            </div>
        </a>
    </div><!--end of individual link-->

    <div class="col-md-6 col-sm-6 no-pad">
        <a href="#">
            <div class="link bg-facebook">
                <div class="initial">
                    <i class="icon social_facebook"></i>
                </div>

                <div class="hover-state">
                    <span class="text-white">Suivre sur Facebook</span>
                </div>
            </div>
        </a>
    </div><!--end of individual link-->
</section>