---
layout : default
---

<!--
     |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
     | Features
     |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
     !-->
<section class="section bb-1" id="leproduit">
    <div class="container">
        <header class="section-header">
            <small><strong>Features</strong></small>
            <h2>Pour une école transparente, innovante & ambitieuse.</h2>
            <hr>
            <p class="lead">Outil« nouvelle génération» de management et suivi continu de vos élèves.</p>
        </header>



        <div class="row gap-y">

            <div class="col-12 offset-md-2 col-md-8 mb-30 overflow-hidden">
                <img class="shadow-4" src="img/ficheeleve.png" alt="..." data-aos="fade-up" data-aos-duration="2000">
            </div>


            <div class="col-12 col-md-6 col-xl-4">
                <div class="flexbox gap-items-4">
                    <div>
                        <i class="fa fa-tv fs-25 pt-4 text-secondary"></i>
                    </div>

                    <div>
                        <h5>Direction & Administration</h5>
                        <p>L’accès permanent aux statistiques scolaires via des tableaux de bord vous assure une bonne formulation des campagnes de communication et un meilleur ciblage de la population scolarisable.</p>
                    </div>
                </div>
            </div>


            <div class="col-12 col-md-6 col-xl-4">
                <div class="flexbox gap-items-4">
                    <div>
                        <i class="fa fa-wrench fs-25 pt-4 text-secondary"></i>
                    </div>

                    <div>
                        <h5>Partout, au bureau, à la maison,
                            en rendez-vous</h5>
                        <p>Accès instantané securisé à toutes vos données (préparations, résultats, courriers, documents administratifs, pédagogiques, devoirs à la maison, échanges avec les parents ...)
                            .</p>
                    </div>
                </div>
            </div>


            <div class="col-12 col-md-6 col-xl-4">
                <div class="flexbox gap-items-4">
                    <div>
                        <i class="fa fa-cubes fs-25 pt-4 text-secondary"></i>
                    </div>

                    <div>
                        <h5>Email</h5>
                        <p>Avec l’outil « E-mail » intégré de Capella, Echangez à tout moment avec les parents d'élèves.</p>
                    </div>
                </div>
            </div>


            <div class="col-12 col-md-6 col-xl-4">
                <div class="flexbox gap-items-4">
                    <div>
                        <i class="fa fa-code fs-25 pt-4 text-secondary"></i>
                    </div>

                    <div>
                        <h5>Professeurs</h5>
                        <p>Capella met à la disposition du professeur, les principaux outils dont il a besoin pour enseigner, évaluer, noter, apprécier… Ceci, de la façon la plus intuitive possible.</p>
                    </div>
                </div>
            </div>


            <div class="col-12 col-md-6 col-xl-4">
                <div class="flexbox gap-items-4">
                    <div>
                        <i class="fa fa-file-text-o fs-25 pt-4 text-secondary"></i>
                    </div>

                    <div>
                        <h5>Comptabilité</h5>
                        <p>CAPELLA révolutionne le système de facturation des établissements scolaires.</p>
                    </div>
                </div>
            </div>


            <div class="col-12 col-md-6 col-xl-4">
                <div class="flexbox gap-items-4">
                    <div>
                        <i class="fa fa-users fs-25 pt-4 text-secondary"></i>
                    </div>

                    <div>
                        <h5>Elèves</h5>
                        <p>Les élèves découvrent les vertus d’un système d’information leur donnant accès à toutes les données qui les concernent, même depuis leur smartphone dès lors qu’ils disposent d’une connexion Internet.</p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>


<section class="section bg-grey pb-0 bb-1">
    <div class="container">
        <header class="section-header">
            <small>Voir en action</small>
            <h2>Portfolio</h2>
            <hr>
        </header>

        <div class="text-center">
            <ul class="nav nav-outline nav-round">
                <li class="nav-item w-140">
                    <a class="nav-link active" data-toggle="tab" href="#home-basic">Connexion</a>
                </li>
                <li class="nav-item w-140 hidden-sm-down">
                    <a class="nav-link" data-toggle="tab" href="#profile-basic">Dashboard</a>
                </li>
                <li class="nav-item w-140 hidden-sm-down">
                    <a class="nav-link" data-toggle="tab" href="#messages-basic">Fiche Elève</a>
                </li>
                <li class="nav-item w-140">
                    <a class="nav-link" data-toggle="tab" href="#settings-basic">Emploi du temps</a>
                </li>
            </ul>
        </div>


        <br><br>

        <div class="col-xs">
            <div class="tab-content text-center">
                <div class="tab-pane fade show active" id="home-basic">
                    <img class="shadow-3" src="img/demo/trello/logincapella.jpg" alt="...">
                </div>
                <div class="tab-pane fade" id="profile-basic">
                    <img class="shadow-3" src="img/intro.png" alt="...">
                </div>
                <div class="tab-pane fade" id="messages-basic">
                    <img class="shadow-3" src="img/ficheeleve.png" alt="...">
                </div>
                <div class="tab-pane fade" id="settings-basic">
                    <img class="shadow-3" src="img/calendar.png" alt="...">
                </div>
            </div>
        </div>


    </div>
</section>

<section class="section" id="pricing">
    <div class="container">
        <header class="section-header">
            <small>Licences d'utilisation</small>
            <h2>Tarifs 2018</h2>
            <hr>
            <p class="lead">Choisissez la formule selon l'effectif de votre établissement.</p>
        </header>


        <div class="row gap-y text-center">

            <div class="col-12 col-md-4">
                <div class="pricing-1">
                    <p class="plan-name">Basique</p>
                    <br>
                    <h2 class="price"><span class="price-unit">Fcfa</span> 100000</h2>
                    <h2 class="price"><span class="price-unit">Forfait mensuel</span></h2>
                    <br>
                    <small>Maximum 200 élèves</small><br>
                    <small>Gratuit pendant un mois</small><br>
                    <small>Hébergement gratuit</small><br>
                    <small>6 mois de support</small><br>
                    <br>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="pricing-1">
                    <p class="plan-name">Essentiel</p>
                    <br>
                    <h2 class="price text-success"><span class="price-unit">Fcfa</span> 500</h2>
                    <h2 class="price"><span class="price-unit">Par élève / mois</span></h2>
                    <br>
                    <small>Maximum 500 élèves</small><br>
                    <small>Gratuit pendant un mois</small><br>
                    <small>Hébergement gratuit</small><br>
                    <small>1 an de support</small><br>
                    <br>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="pricing-1">
                    <p class="plan-name">Premium</p>
                    <br>
                    <h2 class="price"><span class="price-unit">Fcfa</span> 400</h2>
                    <h2 class="price"><span class="price-unit">Par élève / mois</span></h2>
                    <br>
                    <small>Plus de 500 élèves</small><br>
                    <small>Gratuit pendant un mois</small><br>
                    <small>Hébergement gratuit</small><br>
                    <small>1 an de support</small><br>
                    <br>
                </div>
            </div>
        </div>


    </div>
</section>


<div class="section"  id="contact">
    <div class="container">

        <header class="section-header">
            <h2>Contactez-nous</h2>
        </header>


        <div class="row gap-y">
            <div class="col-12 col-md-6">

                <form action="https://docs.google.com/forms/d/e/1FAIpQLSfROL1sDx6KJtX6_EX2njG1uxQ4GZNaAoN60deiiXaB6cWGfA/formResponse" method="POST">

                    <div class="form-group">
                        <input class="form-control form-control-lg" maxlength="20" type="text" name="entry.717271652" placeholder="Nom">
                    </div>

                    <div class="form-group">
                        <input class="form-control form-control-lg" maxlength="50"  type="email" name="entry.2130983560" placeholder="Email">
                    </div>

                    <div class="form-group">
                        <textarea class="form-control form-control-lg" name="entry.160335857" rows="4" placeholder="Votre message par ici"></textarea>
                    </div>


                    <button class="btn btn-lg btn-primary btn-block" type="submit">Envoyer</button>
                </form>

            </div>


            <div class="col-12 col-md-5 offset-md-1">
                <div class="bg-grey h-full p-20">
                    <p> Vous souhaiterez adhérer à CAPELLA ? Vous rencontrez des problèmes lors de l’utilisation de CAPELLA ?
                       Notre équipe support répondra à votre demande le plus rapidement possible.</p>
                    <p>Disponible 24h/24, 7j/7.</p>

                    <hr class="w-80">

                    <p class="lead">Mermoz Pyrotechnique <br>Dakar, Sénégal</p>

                    <div>
                        <span class="d-inline-block w-20 text-lighter" title="Phone">Tél:</span>
                        <span class="fs-14">+(221) 78 198 71 54</span>
                    </div>

                </div>
            </div>
        </div>


    </div>
</div>



